* {
    font-family: "Ubuntu";
}

body,
.container {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

.container > div {
    margin: 0;
}

.header,
.footer {
    background-color: rgb(251, 252, 253);
    height: 70px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

h1 {
    margin: 15px 0px 15px 50px;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 42px;
}

.nightmodeBtn {
    border-radius: 10px;
    margin-top: 18px;
    margin-right: 40px;
    height: 30px;
    border: 2px solid gray;
    padding: 3px;
    transition: 0.2s;
}

.nightmodeBtn:hover {
    background-color: rgb(177, 172, 187);
}


.main {
    background-color: rgb(122, 219, 219);
    flex-grow: 1;
    transition: 0.5s;
}

#nextpage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 80px;
    height: 794px;
    background-color: transparent;
    position: fixed;
    right: 0;
    border-style: none;
    transition: 0.5s;
    color: rgb(116, 172, 172);
    margin-top: 70px;
    padding-bottom: 100px;
}

#nextpage:hover {
    color: rgb(99, 100, 100);
}

.footer > div {
    font-size: 24px;
    margin: 15px 0px 15px 50px;
}

.nightmode {
    background-color: #00111c;
    height: 70px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    color: #d4d7da;
}

.nightmodeBtnSwitch {
    background-color: #b1acbb;
    transition: 0.5s;
}

.nightmodeBtnSwitch:hover {
    background-color: #efeff0;
}

.mainNightmode {
    background-color: #00253e;
}
