* {
    font-family: "Ubuntu";
}

body,
.container {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

#rightarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 80px;
    height: 794px;
    background-color: transparent;
    position: fixed;
    right: 0;
    top: 70px;
    border-style: none;
    transition: 0.5s;
    color: #74acac;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: transparent;
    position: fixed;
    right: 30px;
    top: 420px;
    border-style: none;
    transition: 0.5s;
    color: #67979700;
}

.container > div {
    margin: 0;
    transition: 0.5s;
}

.header,
.footer {
    background-color: #fbfcfd;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

h1 {
    margin: 15px 0px 15px 50px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 42px;
}

.nightmodeBtn {
    border-radius: 10px;
    margin-top: 18px;
    margin-right: 40px;
    margin-bottom: 10px;
    height: 30px;
    border: 2px solid #808080;
    padding: 3px;
    transition: 0.2s;
}

.linkcontainer {
    background-color: #7adbdb;
    padding-left: 90px;
    padding-top: 20px;
    display: flex;
    gap: 80px;
    text-align: center;
}

.linkcontainer > div {
    font-weight: bold;
    letter-spacing: 2px;
    cursor: default;
}

#jspage,
#rubypage {
    position: relative;
    display: inline-block;
    color: #00111c;
}

.jspage-contents,
.rubypage-contents {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    padding: 4px;
    box-shadow: 3px 3px 4px grey;
}

.jspage-contents > a,
.rubypage-contents > a {
    color: #000000;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: block;
    color: #48555ec2;
    transition: 0.5s;
}

.main {
    background-color: #7adbdb;
    flex-grow: 1;
    transition: 0.5s;
}

.footer {
    padding-left: 30px;
    padding-right: 30px;
}

.madewith {
    font-size: 13px;
    text-decoration: underline;
}

/*Pseudo-classes*/

.nightmodeBtn:hover {
    background-color: #b1acbb;
}

#rightarrow:hover {
    color: rgb(109, 110, 110);
    font-size: 110px;
    box-shadow: -10px 0px 10px -2px #f5f5f550 inset;
}

.nightmodeBtnSwitch:hover {
    background-color: #efeff0;
}

#jspage:hover .jspage-contents,
#rubypage:hover .rubypage-contents {
    display: block;
}

.jspage-contents > a:hover,
.rubypage-contents > a:hover {
    background-color: #69c5c5;
    color: #00111c;
}


/*Toggle classes*/

.nightmode {
    background-color: #00111c;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    color: #d4d7da;
    height: 70px;
}

.nightmodeBtnSwitch {
    background-color: #b1acbb;
    transition: 0.5s;
    border-radius: 10px;
    margin-top: 18px;
    margin-right: 40px;
    height: 30px;
    padding: 3px;
    transition: 0.2s
}

.mainNightmode {
    background-color: #00253e;
    color: #d4d7da;
}


.nextVisible {
    color: #405c5c;
    font-size: 24px;
}